body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #ffffff;
  color: #333;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
  color: #70083d;
  margin-bottom: 30px;
}

table {
  margin: 15px;
  width: 98%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4d2df;
  color: #70083d;
  font-weight: bold;
}

tr:hover {
  background-color: #fff0f5;
}

img {
  width: 60px;
  height: auto;
  border-radius: 6px;
}

a.btn-volver {
  display: inline-block;
  margin-bottom: 20px;
  background-color: transparent;
  color: #70083d;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #70083d;
  border-radius: 8px;
  transition: 0.3s ease;
}

a {
  color: #c0392b;
  text-decoration: none;
}

h3 {
  margin: 20px;
  text-align: right;
  margin-top: 20px;
  color: #70083d;
  font-size: 20px;
}

button {
  background-color: #e06aa7;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 15px;
  margin: 30px auto 0;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #c13c86;
}

/* ------------ FOOTER ------------ */
footer {
  text-align: center;
  padding: 20px;
  background-color: #ffcce6;
  margin-top: 40px;
  color: #70083d;
  font-weight: bold;
}

.redes-sociales {
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.redes-sociales a {
    font-size: 28px;
    color: #000000;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.redes-sociales a:hover {
    transform: scale(1.2);
    color: #70083d;
}
